<div class="container-fluid">
  <div class="jumbotron">
    <h1>Github Search</h1>
  </div>
  <app-profile-form></app-profile-form>
  <div class="row">
  <div class="col-md-3">
      <img src="{{user.avatar_url}}" height="200" class="img-circle">
  </div>
  <div class="col-md-6">
  <table>
  <tr>
  <td >Name: </td>
  <td class="label">{{user.name}}</td>
  </tr>
  <tr>
  <td >Github username: </td>
  <td class="label">{{user.login}}</td>
  </tr>
  <tr>
  <td >Email Information: </td>
      <td class="label">{{user.email}}</td>
      </tr>
  <tr>
     <td >Location: </td>
    <td class="label">{{user.location}}</td>
    </tr>
    <tr>
     <td >Repositories: </td>
      <td class="label">{{user.public_repos}}</td>
       </tr>
  </table>
  </div>
  </div>
  <a href="{{user.html_url}}" class="btn btn-success" id="view">View Profile</a>
  <hr>
  <hr>
  <div class="card">
  <div class="card-header">
    <h2>Check The User Repositories Down Here.</h2>
  </div>
  <div class="card-body" *ngFor='let repo of repoService.items ; let i = index'>
    <h4 class="card-title"> {{repoService.items[i].name}}</h4>
    <div class="card-text">
        <p>{{repoService.items[i].description}}</p>
        <p class="posi"><a href="{{repoService.items[i].html_url}}" class="btn btn-success">View Repository</a></p>
        <p class="posi"><a href="{{repoService.items[i].homepage}}" class="btn btn-success">See me</a></p>
        <p class="posi"><a href="{{repoService.items[i].clone_url}}" class="btn btn-success">Clone</a></p>
    </div>
    <hr>
  </div>
 </div>
  </div>